@import '/styles/theme.scss';

.page {
  background-color: $color-background;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.contents {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  width: 1000px;
}
