@import '/styles/theme.scss';

.nav-wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: $height-nav;
  background-color: $color-primary;
  color: white;
  z-index: $z-index-nav;
}

.nav-items-wrapper {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;

  &:hover {
    color: white;
  }
}

.nav-right-wrapper {
  margin-right: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.nav-icon {
  width: fit-content;
  padding: 10px;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }

  .user {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    border-radius: 100%;
  }
}

.profile-dropdowon-menu {
  position: fixed;
  top: 50px;
  right: calc(10vw - 30px);
  background-color: white;
  border-radius: 7px;
  z-index: 999;
  list-style: none;
  padding-left: 0px;

  box-shadow: $box-shadow-dropdown;

  li {
    width: 100%;
    padding: 15px 20px 15px 20px;
    &:hover {
      cursor: pointer;
      background-color: $color-select;
      border-radius: 7px;
    }

    .link {
      width: 100%;
      background-color: yellow;
    }
  }
}
